header{
    display: flex;
    background-color: #d3d9d4;
    height: 9em;
    border: none;
    margin: 0;
    padding: 20px 0;
    align-items: center;
    text-transform: uppercase;
}

h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 400%;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-left: 4.9em;
    color: #212a31;
    border-bottom: #212a31 solid 0.3em;
}

img{
    margin-left: 0.3em;
    height: 9em;
}

body{
    background-color: #124e66;
    margin: 0;
}

#flexbox{
    display: flex;
    margin: 3em 20em;
    padding: 0.75em;
    background-color: #d3d9d4;
    border-radius: 2em;
    flex-direction: column;
    justify-content: space-around;
}

#primeiraLinha{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.container{
    margin: 0.5em 0em;
}

button{
    height: 1em;
    line-height: 1em;
    width: 1em;
    border: none;
    border-radius: 1em;
    text-align:center;
    margin: 0px 4px;
    font-size: 2em;
    background-color: #d3d9d4;
    color: #212a31;
}

button:hover{
    background-color: #212a31;
    color: #d3d9d4;
}

input{
    margin: 0px 4px; 
    border: none;
    outline:none;
    width: 100%;
    color: #212a31; 
    font-size: 1.5em;
    background-color: #748d92;
    padding: 0.75em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.pressionado{
    background-color: #212a31;
    color: #d3d9d4;
}

#containerInput{
    display: flex;
    background-color: #748d92;
    width: 100%;
    height: 0px;
}